.carousel-control-next-icon {
    	background-image: url("img/next.png");
    }
    .carousel-control-prev-icon {
    	background-image: url("img/prev.png");
    }

.card{
			height:300px;
		}

		.card{
			box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
			/*box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);*/
			/* width:17rem;*/
		}
		.card:hover{
			box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
		}
		.checked {
			color:yellow;
		}
		.sp{

			font-size: 15px;
		}
		.navbar-light .navbar-nav .nav-link {
			color: black!important;
			margin-left:55px;
		}
		.nav-link{
			font-size: 20px;
			text-align: center;
			/*margin-left: 55px;*/
			/*color: black;*/
		}

		/*@media only screen and (min-width: 576){
			.card{
				height:400px;
			}
		}
		@media only screen and (min-width: 577){
			.card{
				height:400px;
			}
		}
		@media only screen and (min-width: 768){
			.card{
				height:400px;
			}
		}*/
		@media only screen and (min-width: 600px){
			.col-lg-3{
				height:332px;
			}

		}
		.carousel-indicators li{
			display: none
		}
		.navbar-light .navbar-nav .nav-link:hover {
			border-bottom: 2px solid blue;
		}
		*{
   padding: 0;
   margin: 0;
   list-style: none;

}
.navbar-default{
	background:#2F4F4F;

}
.navbar-brand{
	color: white;
	font-size: 20px;
	font-weight: bold;
	float: left;
}
.nav-link{
   color: white;
   font-size: 5px;
   float: left;
  /* margin-left: 0px;*/
}
.side{
	margin-left: 0px!important;
  padding:5px;
}
.navbar-brand {
    margin-left: 10px;
}
.navbar-right
{
	float: right;
	margin-right: 20px;
}
 ul a:hover
{
	background color: #fff;
	color:#f5f5dc;
}


#carouselExampleIndicators .carousel-inner .carousel-item{
	margin-top: 0px;
	height: 400px;
	background-image: url(img/slide3.gif);
	background-size: 600px;
	background-position: fixed;
  background-repeat: no-repeat;
}

p{
	text-align: justify;
	font-size: 18px;
}
i{
	font-size: 100px;
	color:#2196f3eb;
}
/*h5{
	color: blue;
	float: left;
}*/
h6{
  color:grey;
}
#testimonials{
  background-color: #00FF7F;
  font-size:5px;
}
.carousel-control-next-icon {
    	background-image: url("img/next.png");
    }
    .carousel-control-prev-icon {
    	background-image: url("img/prev.png");
    }

.card{
			height:300px;
			/*width:17rem;*/
		}

		.card{
			box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
			/*box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);*/
			/* width:17rem;*/
		}
		.card:hover{
			box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
		}
		.checked {
			color:yellow;
		}
		.sp{

			font-size: 15px;
		}
		.navbar-light .navbar-nav .nav-link {
			color: black!important;
		}
		.nav-link{
			font-size: 20px;
			text-align: center;
			margin-left: 55px;
			/*color: black;*/
		}
		@media only screen and (max-width: 600px){
			.card{
				height:400px;
			}
			.nav-item>.nav-link{
				margin-left: 0px!important
			}
		}
		@media only screen and (min-width:774px)and (max-width: 998px){
			.card{
				/*width:14rem;*/
				height:630px;
			}
		}
		@media only screen and (min-width: 600px){
			.col-lg-3{
				height:332px;
			}


		}
		@media (min-width: 992px){
			.cont{
				margin-left: 700px!important;
				width:200px!important;
			}
		}
		/*@media (min-width: 992px){
           .navbar-expand-lg .navbar-nav {
		*/
    /*-ms-flex-direction: row;
    flex-direction: row;*/
   /* margin-left: 850px;*/
    /*margin-right: 20px;*/
    /*padding: 8px;*/
/*}
*/.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: 1.5rem;
}
}

		/*@media only screen and  (max-width: 450px){
			.nav-link{
				font-size: 33px;
			}
			.cont{
				margin-left: 15px
			}
			.navbar-brand{
				margin-left: 15px;
			}

		}*/
		.carousel-indicators li{
			display: none
		}
		.navbar-light .navbar-nav .nav-link:hover {
			border-bottom: 2px solid blue;
		}
/*
.feed{
	color:blue;
}
.btn-outline-primary {
    color: #2196f3eb;
    border-color:#2196f3eb;
    border: 4px solid #2196f3eb;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #2196f3eb;
    border-color: #2196f3eb ;
}
.img-fluid{
	max-width:103%;
}
.btn-light:hover{
	background-color: white;
	color:#2196f3eb;
}
.w-100 {
    width: 40%;
    height: 250px;
}
.w-1001{
	width: 20%;
    height: 250px;
    padding:20px;
}
*/
.circle {
/*  height: 150px;
  width: 150px;
  background-color: #555;
  border-radius: 50%;
  width: 100%; */
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
      width:150px;
    height:150px;
      background-color: #555;
}
  .ii
  {
  text-align: center;
  background-image: url("img/motto.png");
  background-size: 99% 99%;
  background-repeat: no-repeat;
  }

  .jj
  {
  text-align: center;
  background-color: #2c3e50;
  }

p{
    text-align: center;
}
  h3
  {
    color: #A9A9A9;
  }

h1{
  color:white;
}
button{
  background-color:#808080;
  font-size: 20px;
  padding: 2px 4px;
}

  .kk
  {
      text-align: center;
    background-color: #2c3e50;


  }

  #footer
  {
    text-decoration-color: black;
  }
